$primary-color: #2cd5c4;

@font-face {
  font-family: "sofia_proregular";
  src: url("../fonts/Sofia\ Pro/sofia_pro_regular-webfont.woff2")
      format("woff2"),
    url("../fonts/Sofia\ Pro/sofia_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-color: #f7f9fc;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "sofia_proregular", sans-serif;
}

.banking-form {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
}

.btn {
  background-color: $primary-color;
  border-color: $primary-color;
}

.method-btn {
  .btn {
    background-color: #f7f9fc;
    color: #ccc;
    &.active {
      background-color: $primary-color;
      color: #fff;
    }
  }
}

.form-group {
  &.loader::after {
    background-image: url(/static/media/loader.96a453c2.svg);
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    right: 15px;
    top: 32px;
  }
}
